html { 
	height: 100%;
	width: 100%;
}

body { 
	height: 90%;
	width: 100%;
/* Aligned text toward the left of the page */
          text-align: left;
/* Created a blue to grey background hue which matched the twitter logo adapted from code available at: https://www.quirksmode.org/css/images/angles.html*/
background:linear-gradient(315deg,dodgerblue,white);
/* Prevents breaks in gradient due to scrolling, adapted from code available at: https://stackoverflow.com/questions/20070220/extend-background-gradient-across-body-without-background-attachment-fixed*/
    background-size: 100% 1800px;
   



    color: black;
/* Changed font size to make for easier viewing*/
    font-size:20px;
/* Changed font to Calibri*/
    font-family: "Times New Roman";
}

.gmap {
	margin: 5px;
    border: double;
}

/* Edited the scroll bar to be dark blue and form a stretched stadium shape. Adapted from code available at:https://css-tricks.com/the-current-state-of-styling-scrollbars/*/
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 9px;
  height: 9px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #b78763;
}
